.container {
    background-color: rgb(178, 50, 204);
     display:flex;
     justify-content:space-around;
}
.para{
    background-color:burlywood;
    padding:8px;
    border-radius:5px;
}
h5{
    background-color: greenyellow;
    padding:8px;
    border-radius:5px;
}